* {
  margin: 0;
  padding: 0;
}

body {
  font-family: monospace;
  font-size: 16px;
}

.body-container {
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-color: #e4eee9;
  background-image: linear-gradient(315deg, #e4eee9 0%, #93a5ce 74%);
}
header {
  text-align: center;
  margin: 10px 0;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 0.5rem;
  border-radius: 15px;
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 5rem;
}

h1 {
  margin-bottom: 5px;
}

.input-style {
  width: 50vw;
  border-radius: 15px;
  padding: 0.5rem;
}
.btn {
  border-radius: 15px;
  color: white;
  background-color: black;
  height: 2rem;
  padding: 0.5rem;
  width: 6rem;
  margin-top: 5px;
  text-transform: uppercase;
}

.container {
  width: 50vw;
}

.task-container {
  display: flex;
  justify-content: space-around;
  padding: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin-bottom: 10px;
  border-radius: 15px;
  align-items: center;
  animation: slideIn 3s ease-in-out;
}

.checkbox-style {
  height: 2rem;
  width: 20px;
}

.btn:hover {
  background-color: powderblue;
  color: black;
  font-weight: 700;
}

.btn-1:hover {
  background-color: red;
}

.delete {
  animation: delete 3s ease-in-out;
  background-color: red;
  transition: all 3s;
}

@media only screen and (max-width: 700px) {
  .container,
  header {
    width: 80vw;
  }
}

@keyframes slideIn {
  0% {
    transform: translateX(-50px);
  }
  80% {
    transform: translateX(10px);
  }
  100% {
    transform: translate(0);
  }
}

@keyframes delete {
  0% {
    transform: translate(0);
  }
  10% {
    transform: translateX(-20vw);
  }
  80% {
    text-transform: translateX(-10vw);
  }

  100% {
    transform: translateX(80vw);
  }
}
